* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 95px;
    background-color: #000;
}

.navbar-brand {
    color: #fff;
}

/*
.nav-link {
	font-size: 18px !important;
	color: #fff !important;
	margin-right: 15px;
}
*/

.navbar .navbar .container {
    max-width: 1800px;
}

.navbar-brand img {
    border-radius: 50%;
}

.navbar .btn {
    width: 180px;
    margin: 20px;
    background-color: #00000047;
    border-radius: 5px;
    border: solid 2px #ffd3b3;
}

.navbar .nav-link {
    color: #fffacda6;
    font-size: 18px;
}


.landing {
    background-image: url(../assets/banner.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing .caption {
    font-weight: 700;
    color: #fff;
}

.landing .caption small {
    font-size: 15px;
}

.landing .caption h1 {
    margin: 35px 0;
}

.view .btn a {
    font-size: 18px;
    margin-top: 40px;
    font-weight: 700;
    color: #ffd3b3;
}

.landing .btn {
    background-color: #00000047;
    border-radius: 5px;
    border: solid 2px #ffd3b3;
    margin: 20px;
    width: 120px;

}

.landing .btn a:hover {
    text-decoration: none;
}

.register .btn a {
    font-size: 18px;
    margin-top: 40px;
    font-weight: 700;
    color: #ffd3b3;
}

.view .btn {
    width: 200px;
    margin-top: 50px;
}

.login .btn a {
    font-size: 18px;
    font-weight: 900;
    color: #ffd3b3;
}

.reg-log {
    margin-top: 30px;
}

/*POSTS*/

.posts .banner {
    background-image: url(../assets/posts_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #dcdcd9;
}

.posts .container {
    max-width: 1500px;
}

.posts h1 {
    font-size: 35px;
}

.create {
    font-size: 20px;
    margin: 50px 0;
    margin-bottom: 25px;
}


.create a {
    font-size: 18px;
    color: #484845;
    font-weight: 900;
    transition: 0.3s;
    padding: 8px 20px;
    border: solid 2px #484845;
    border-radius: 5px;
}

.create a:hover {
    text-decoration: none;
    color: #484845;
}

.posts .caption {
    text-align: center;
    margin-top: 40vh;
}

.post {
    display: flex;
}


.view img {
    height: 450px;
    border-radius: 5px;
    margin: 25px 0;
}


.func .view-more {
    font-size: 16px;
    color: #484845ad;
    font-weight: 900;
}

.func .edit {
    font-style: italic;
    font-size: 16px;
    color: green;
}

.func .delete {
    font-style: italic;
    color: red;
    font-size: 16px;
}

.edit-delete {
    display: flex;
}



.func a:hover {
    text-decoration: none;
    color: #484845e3;
}

.details {
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #484845ad;
}

.details a {
    color: #484845ad;
    font-weight: 900;
}

.details a:hover {
    text-decoration: none;
    color: #484845ad;
}

.details h4 {
    margin: 25px 0;
    font-size: 25px;
}

.details small {
    margin-bottom: 15px;
    font-style: italic;
    font-size: 13px;
}



.pagination {
    justify-content: center;
    margin: 30px;
}


/*Dashboard*/

.dashboard .details {
    margin-top: 30px;
}

.dashboard a {
    color: #484845e3;
}

.dashboard img {
    border-radius: 5px;
    height: 300px;
}

.dashboard .func {
    margin-top: 20px;
}

.dashboard .view-more {
    font-style: italic;
}

.line {
    margin-bottom: 30px;
}

.dashboard .row {
    margin: 90px 0;
}

.view-post {
    height: 100vh;
}

.view-post small {
    font-size: 13px;
}

.view-post img {
    height: 400px;
}

.view-post p {
    font-size: 18px;
}

.options {
    margin: 50px 0;
}

.options a {
    font-size: 16px;
    color: #484845e3;
    margin-right: 20px;
    margin-top: 50px;
}

.options a:hover {
    text-decoration: none;
    color: #484845e3;
}

/*CREATE NEW*/
.new-post {
    /* overflow-y: hidden; */
}

.new-post .btn {
    color: #dcdcd9;
    background-color: #00000047;
    border-radius: 5px;
    border: solid 2px #ffd3b3;
    margin: 20px;
    width: 120px;
}

.new-post {
    height: 100vh;
}

.new-post .banner {
    background-image: url(../assets/create.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dcdcd9;
}

.new-post label {
    font-size: 18px;
}

.new-post input {
    height: 45px;
    border: solid 2px #ffd3b3;
}

.new-post select {
    height: 45px;
    border: solid 2px #ffd3b3;
}

.new-post textarea {
    border: solid 2px #ffd3b3;
}

.rl {
    background-image: url(../assets/register.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rl .card {
    background: #0000006e;
    border: solid 2px #ffd3b3;
    border-radius: 10px;
}

.rl .card-header {
    text-align: center;
    font-size: 25px;
    color: #fff;
}

.rl input {
    border: solid 2px #ffd3b3;
}

.rl label {
    font-size: 20px;
    color: #fff;
}

.rl .btn {
    background: #0000006e;
    border: solid 2px #ffd3b3;
    margin-right: 15px;
}

.rl .btn:hover {
    background: none;
    border: solid 2px #ffd3b3;
}

.btn-link {
    color: #fff !important;
    text-decoration: none;
}
